.color-selector-container {
  display: flex;
  height: 150rpx;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.color-item {
  width: 60rpx;
  height: 60rpx;
  margin: 0 20rpx;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all 100ms linear;

  .color-item-inside {
    width: 46rpx;
    height: 46rpx;
    border-radius: 50%;
    display: none;
    border: 8rpx solid #000000;
  }

  &.action {
    .color-item-inside {
      display: block;
    }
  }
  
  &:active {
    transform: scale(0.9);
  }
}