.opacity-selector-container {
  display: flex;
  height: 100rpx;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.silder {
  height: 45rpx;
  width: 80%;
  background: #424242;
  border-radius: 20rpx;
  transition: all 100ms linear;
  
  .silder-line {
    position: relative;
    display: block;
    height: 45rpx;
    width: 50%;
    background: #E37318;
    border-radius: 40rpx;
    transition: all 100ms linear;
  }

  .silder-block {
    position: absolute;
    height: 39rpx;
    width: 39rpx;
    border-radius: 100%;;
    background-color: #FFFFFF;
    z-index: 5;
    top: 3rpx;
    right: 6rpx;
    transition: all 100ms linear;
  }

  .silder-text {
    position: absolute;
    right: -20rpx;
    top: -10rpx;
    transform: translateY(-100%);
  }
}